#root {
    --default-txt: rgb(231, 240, 220);
    --border-color: rgb(255, 0, 0);
    --button-submit: rgb(38, 38, 190);
    --red-button: rgb(160, 0, 0);
    --red-button-hvr: rgb(211, 0, 0);
    --grey: rgb(87, 87, 87);

    --nav-bar-bg: rgb(243, 255, 144);
    --nav-button-hvr: rgb(155, 236, 0);
    --nav-button-txt-hvr: rgb(5, 146, 18);

    --selected-page-menu-bg: rgb(5, 146, 18);

    --about-bushes-bg: rgb(6, 208, 1);

    --homepage-bg: rgb(155, 236, 0);
    --homepage-txt: rgb(0, 0, 0);

    --storepage-bg: rgb(5, 146, 18);

    --loginpage-bg: rgb(37, 67, 54);
    --auth-button-bg: rgb(253, 155, 99);
    --auth-input-bg: rgb(231, 211, 127);


    --carepage-bg: rgb(0, 0, 0);
    --cart-container-bg: rgb(16, 39, 112);
    --checkout-offer-info-txt: rgb(109, 53, 0);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
h1 {
    color: var(--default-txt);
}
button {
    cursor: pointer;
}
main {
    flex-grow: 1;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 30px;
    background-color: var(--nav-bar-bg);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 0;
}
.credits-section {
    width: 100vw;
    background-color: var(--nav-bar-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.credits-section a {
    text-decoration: none;
    color: var(--about-bushes-bg);
    font-weight: 900;
    transition: 0.2s;
}
.credits-section a:hover{
    color: var(--homepage-bg);
}
.error-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 1000;
}



.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    left: calc(25vw - 50px);
    /* left: calc((25% - 50px) + (100vw - 100%)); */
    width: 50%;
    z-index: 1;

    background-color: var(--nav-bar-bg);
    border-radius: 5px;

    padding: 5px;
    margin: 50px;
    margin-bottom: 80px;
}
.nav-bar a {
    width: -webkit-fill-available;
    font-size: 40px;
    margin: 2.5px;
    border-radius: 5px;

    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: 0.3s;
}
.unselected-page:hover {
    color: var(--nav-button-txt-hvr);
    background-color: var(--nav-button-hvr);
}
.selected-page {
    background-color: var(--selected-page-menu-bg);
}
.selected-page:hover {
    background-color: var(--selected-page-menu-bg);
    color: initial;
}



.page-bg {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 100%;
    z-index: -1;
}



.homepage-bg {
    background-color: var(--homepage-bg);
}
.homepage * {
    color: var(--homepage-txt);
}
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.highlight-img {
    max-height: 500px;
    width: 95vw;
    object-fit:cover;
    line-height: 1.5rem;
    border: solid black 5px;
    border-radius: 30px;
}



.offer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: fit-content;
    background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), var(--about-bushes-bg)); 
    padding: 15px; 
    border-radius: 30px; 
    border: solid var(--nav-bar-bg) 1px; 
}
.offer-img {
    max-height: 200px;
    object-fit: contain;
    border: solid black 5px;
    border-radius: 30px;
}
.offer-title {
    cursor: pointer;
    transition: 1s;
    border-radius: 20px;
    padding: 5px;
    user-select: none;
    max-width: 351px;
    max-height: 150px;
    text-align: center;
}
.offer-title:hover {
    color: var(--nav-bar-bg);
    box-shadow: 0 0 10px var(--storepage-bg);
}
.flex-filler {
    flex-grow: 1;
}
.offer-type {
    color: white;
}
.offer-info {
    margin-top: 30px;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.offer-info > h2 {
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}
.add-cart-icon {
    fill: white;
    cursor: pointer;
}
.cart-icon {
    fill: black;
}
.quantity-selector {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    font-size: 30px;
}
.quantity-change {
    width: 100%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px;
}
.max-quantity {
    font-size: initial;
    cursor: default;
    user-select: none;
}
.max-quantity.admin {
    font-size: initial;
    max-width: 32px;
    height: 18px;
    border: none;
}
.input-quantity {
    font-size: 30px;
    text-align: center;
    outline: none;
    width: fit-content;
    border: none;
}

.admin-plus-button {
    width: 35px;
    height: 35px;
    background-color: lightgreen;
    border-right: none;
    transition: 0.2s;
}
.offer-edit-img-url {
    font-size: 30px;
}
.edit-offer-button {
    fill: white;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.edit-offer-button:hover {
    fill: rgb(180, 180, 180);
}
.offer-edit-action-button {
    border: solid blue 1px;
    font-size: 30px;
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s;
}
.delete-button {
    background-color: rgb(173, 0, 0);
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}
.delete-button:hover {
    background-color: red;
}
.confirm-delete-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.confirm-delete-offer-button {
    color: white;
    background-color: var(--selected-page-menu-bg);
    font-size: 40px;
    border: solid red 1px;
    padding: 10px;
    transition: 0.5s;
}
.confirm-delete-offer-button:hover {
    background-color: red;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: none;
    border-bottom: none;
    border-left: solid 5px var(--button-submit);
    border-right: solid 5px var(--button-submit);
    font-size: 50px;
}
.confirm-button:hover {
    border: solid red 1px;
    background-color: blue;
    color: white;
}
.admin-plus-button:hover {
    background-color: green;
}
.admin-minus-button {
    width: 35px;
    height: 35px;
    background-color: lightcoral;
    transition: 0.2s;
}
.admin-minus-button:hover {
    background-color: red;
}
.opacity-appearance {
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.opacity-appearance.visible {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}


.storepage-bg {
    background-color: var(--storepage-bg);
}
.price-range-box {
    background-color: var(--cart-container-bg);
    color: white;
    border-radius: 10px;
    padding: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    width: 300px;
    font-size: 30px;
}
.range-values {
    background-color: var(--grey);
    padding: 5px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
}
.range-slider {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    align-items: center;
}
.range-input {
    position: absolute;
    -webkit-appearance: none;
    width: 90%;
    border: 0px solid var(--cart-container-bg);
    border-radius: 50%;
}
.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--about-bushes-bg);
    margin-top: -6px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.range-input::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.range-input:focus::-webkit-slider-runnable-track {
    background-color: #ccc;
}
.search-bar-wrapper {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.search-bar {
    outline: none;
    font-size: 60px;
    padding: 25px;
    border: none;
    width: 50%;
}
.type-search {
    width: 10%;
    font-size: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.type-input {
    margin-bottom: 10px;
    outline: none;
    font-size: 30px;
    width: 100%;
}
.highlighted {
    color: lightblue;
}
.offers-container-wrapper {
    display: flex;
    justify-content: center;
}
.offers-container {
    display: flex;
    gap: 10px;
    width: 95vw;
    border: solid black 2px;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.add-offer-button {
    width: 380px;
    height: 408px;
    border: none;
    font-size: 90px;
    background-color: transparent;
    background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), var(--about-bushes-bg));
    border-radius: 30px;
    border: solid var(--nav-bar-bg) 1px;
    color: var(--default-txt);
    transition: 1s;
}
.add-offer-button:hover {
    color: var(--nav-bar-bg);
    box-shadow: 0 0 10px var(--storepage-bg);
}
.offer-description {
    background-color: var(--nav-bar-bg);
    font-weight: bold;
    transition: all 0.5s;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    border: solid black 1px;
    user-select: none;
    cursor: grab;
    z-index: 1;

    animation: slideIn-right 0.5s ease-out forwards;
}
.preview-offer {
    background-image: radial-gradient(circle at 50% 50%, var(--about-bushes-bg), var(--about-bushes-bg));
}



.about-bushes-bg {
    background-color: var(--about-bushes-bg);
}
.about-bushes {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-bushes > p {
    font-size: 25px;
    color: var(--default-txt);
    text-align: center;
    width: 500px;
}
.about-bushes > h1 {
    margin-bottom: 30px;
}


.authpage-bg {
    background-color: var(--loginpage-bg);
}
.auth-page {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.auth-input {
    width: 500px;
    height: 75px;
    outline: none;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    border-radius: 50px;
    background-color: var(--nav-bar-bg);
    border: none;
}
.auth-input::placeholder {
    color: rgba(0, 0, 0, 0.329);
    user-select: none;
}
.auth-button {
    font-size: 30px;
    padding: 20px;
    border-radius: 50px;
    border: 0px;
    background-color: var(--auth-button-bg);
    transition: 0.5s;
    user-select: none;
}
.auth-button:hover {
    background-color: var(--auth-input-bg);
    color: white;
}
.auth-method-button {
    background-color: transparent;
    border: none;
    color: white;
    margin-bottom: 20px;
    transition: 0.5s;
    user-select: none;
}
.auth-method-button:hover {
    color: var(--nav-button-txt-hvr);
}


.account-page {
    height: 100%;
    padding: 20px;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
}
.logout-button {
    width: 95%;
    background-color: var(--red-button);
    height: 50px;
    color: white;
    font-size: 25px;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
}
.logout-button:hover {
    background-color: var(--red-button-hvr);
}
.add-credit-form {
    display: flex;
    border: solid red 1px;
    border-radius: 20px;
    background-color: var(--cart-container-bg);
}
.add-credit-form > * {
    padding: 15px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
.add-credit-form *:hover,
.add-credit-form *:focus {
    background-color: rgb(16, 39, 180);
}
.add-credit-form > button {
    user-select: none;
}
.add-credit-form > button:hover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.add-credit-form > input {
    border-left: solid red 1px;
    width: 300px;
}
.add-credit-form > input:hover,
.add-credit-form > input:focus {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.purchase-history-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--about-bushes-bg);
    border: solid black 1px;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    color: var(--red-button-hvr);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.purchase-history-container > p {
    text-shadow: none;
    font-weight: 700;
}
.purchase-history-container > h3 {
    color: var(--storepage-bg);
}
.purchase-history-container > h4 {
    color: var(--grey)
}
.history-list > li {
    color: white;
    font-size: 30px;
}


.cartpage-bg {
    background-color: var(--carepage-bg);
}
.cart-container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-container {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
    background-color: var(--cart-container-bg);
}
.checkout-button-wrapper {
    position: relative;
    margin: 20px;
    height: 50px;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-button-wrapper:hover::before {
    content: '';
    position: absolute;
    height: 88%;
    width: 140%;
    background-color: var(--border-color);
    animation: spin-border 1s linear infinite;
}
.checkout-button {
    font-size: 30px;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    color: white;
    border-radius: 5px;
    position: relative;
    border-radius: 5px;
    border: solid var(--border-color) 1px;
}
.checkout-button:hover {
    border: none;
}
@keyframes spin-border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.corner {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: white;
    z-index: -1;
    border-radius: 10px;
}
.upper-left-corner {
    left: -20px;
    top: -20px
}
.upper-right-corner {
    right: -20px;
    top: -20px;
}
.down-left-corner {
    bottom: -20px;
    left: -20px;
}
.down-right-corner {
    bottom: -20px;
    right: -20px;
}
.checkout-offer {
    margin: 15px;
    width: 75%;
    background: rgb(6,208,1);
    background: linear-gradient(90deg, rgba(6,208,1,1) 0%, rgba(0,212,255,1) 50%, rgba(6,208,1,1) 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}
.checkout-offer-img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
    height: 100px;
}
.full-view-img {
    max-height: 95vh;
}
.checkout-offer-info {
    border-left: solid black 1px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--checkout-offer-info-txt);
}
.checkout-offer-info span {
    font-weight: 900;
    color:  var(--selected-page-menu-bg);
}
.checkout-offer-info > div {
    display: flex; 
}
.buy-quantity-container {
    margin-left: 10px;
    border: solid var(--border-color) 1px;
    display: flex;
    align-items: center;
}
.plus-button,
.minus-button {
    font-size: 30px;
    width: 30px;
    border: none;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5);
} 
.minus-button {
    color: red;
}
.plus-button {
    color: greenyellow;
}
.minus-button:hover,
.plus-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.max-buy-quantity {
    margin: 5px;
    display: flex;
    align-items: center;
}



.color-changing-button {
    animation: colorChange 5s infinite;
    user-select: none;
}
@keyframes colorChange {
    0% {
      background-color: rgb(45, 50, 80);
    }
    25% {
      background-color: rgb(66, 71, 105);
    }
    50% {
      background-color: rgb(112, 119, 161);
    }
    75% {
      background-color: rgb(66, 71, 105);
    }
    100% {
      background-color: rgb(45, 50, 80);
    }
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-icon {
    fill: white;
    margin-left: 10px;
    animation: spin 2s linear infinite;
}
.loading-wrapper {
    display: flex;
    font-size: initial;
    align-items: center;
}
.fullscreen-dialog-window {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    z-index: 1;

    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
}
.fullscreen-dialog-window::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}


.modal-dialog {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    overflow: visible;
}
.modal-dialog:-internal-dialog-in-top-layer::backdrop { 
    position: fixed; inset: 0px;
    background: rgba(0, 0, 0, 0.8); 
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
@keyframes slideIn-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideIn-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
